<h4 mat-dialog-title>{{caption}}-Filter</h4>
<mat-dialog-content class="mat-typography">

  <div *ngIf="filterElements"  class="filterDialog">
    <div *ngFor="let filterElement of filterElements.controls; index as i" >
       <table><tr>
          <td>
          <mat-form-field >
              <mat-select [formControl]="filterElement.controls.fieldName" (ngModelChange)="onFieldNameChange($event,i)">
                  <mat-option *ngFor='let fieldName of fieldNames;' [value]="fieldName">{{fieldName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="filter-condition">
              <input matInput [formControl]="filterElement.controls.condition" (change)="onConditionChange($event,i)" >
              <mat-error class="error-message" *ngIf="(filterElement.invalid)">{{validationErrors(i)}}
              </mat-error>
            </mat-form-field>
          </td>
          <td class="filter-clear-button"> 
            <button mat-icon-button class="small-icon-button"  tabindex="-1" (click)="clearButtonClicked(i)" [disabled]="filterElement.controls.fieldName.disabled">
              <mat-icon>clear</mat-icon>
            </button></td>
        </tr></table>
    </div> 
  </div>
</mat-dialog-content> 

<mat-dialog-actions align="end">
  <button mat-icon-button (click)="newFilterelement()" matTooltip="{{'Dialog.Filter.Tooltip.Add'|translate}}" tabindex="-1" 
    [disabled]="filterElements.status==='INVALID'"> 
    <mat-icon>add</mat-icon>
  </button>
  <button mat-button (click)="close()" matTooltip="{{'Dialog.Filter.Tooltip.Cancel'|translate}}" 
    tabindex="-1" >{{'Dialog.Action.Cancel'|translate}}</button>
  <button mat-button (click)="save()"  matTooltip="{{'Dialog.Filter.Tooltip.Ok'|translate}}" 
    [disabled]="filterElements.status==='INVALID'" >{{'Dialog.Action.Apply'|translate}}</button>
</mat-dialog-actions>


