<div style="z-index:1;position:relative;">
  <table #melTable mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
    
    <ng-container matColumnDef="{{colNames[0]}}"> 
      <th mat-header-cell id="{{colNames[0]}}" *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" tabindex="999" style="min-width:1.25em;width:1.25em;">
          {{row[colNames[0]]}}
      </td>
   
    <div *ngFor='let meta of colMetadata; let j = index'>
      <ng-container *ngIf="j>0">
        <ng-container matColumnDef="{{meta.name}}"> 
          <th mat-header-cell id="{{meta.name}}" *matHeaderCellDef mat-sort-header="{{meta.name}}">{{meta.display.caption}}</th>
          <td mat-cell *matCellDef="let row;" tabindex="{{j}}" id="{{j}}"> 
            <mel-list-field [attr.vertical-align]="top" [context]="fieldContext(row, meta)" [colIndex]="j"></mel-list-field> 
          </td>  
        </ng-container>
      </ng-container>
    </div>
    <tr mat-header-row *matHeaderRowDef="colNames; sticky: false" ></tr>
    <tr mat-row *matRowDef="let row; columns : colNames; let i = index;" id="{{i}}"
        (click)="onRowClick(row,i);"
        (mouseover)="onMouseover(i);"
        [style.background]="getBackgroundColor(i)">
    </tr>
  </ng-container>
  </table> 


</div>
