
<div class="modal-header" >
  <h4 class="modal-title" style="text-align: center;">{{transPrefix+'Title' | translate }}</h4>
</div>
<div class="modal-body" style="text-align: center;">
  <mel-list #melList class="mat-elevation-z4" [style.height]="listHeight" [context]="listContext" [dataSource]="dataSource"></mel-list>
  <div #pageSlider class="pageSlider-v" >
    <ngx-slider [(value)]="currPageNo" [options]="sliderOptions" (userChangeEnd)="onSliderChangeEnd()"> </ngx-slider>
  </div>

</div>

<div class="modal-footer">
  <button mat-raised-button color="warn" (click)="dismissClicked()">{{'Command.Cancel'|translate}}</button>
  <button mat-raised-button color="primary" (click)="okClicked()">{{'Command.Ok'|translate}}</button>
</div>
