<div style="height:93.5%;display:flex; justify-content:center;">
  
  <mat-card style="min-width:100%">
    <mat-card-header>    
      <mat-toolbar role="navigation" color="primary" >
        <span> {{'CreateApp.Title' | translate}}</span>
        <span class="fill-remaining-space"> </span>
        <button mat-icon-button (click)="save()" [disabled]="!cardData?.isValid" matTooltip="{{'Menu.Button.Save'|translate}}">
          
          <mat-icon>done</mat-icon> </button>
        <div style="margin-left:30px"></div>   
        <button mat-icon-button routerLink = "/" matTooltip="{{'Menu.Button.Cancel'|translate}}">   
          <mat-icon>clear</mat-icon> </button> 
      </mat-toolbar>     
    </mat-card-header>
  
    <mat-card-content ng-controller="card" fxLayout="column">
      <ngb-accordion #acc="ngbAccordion" activeIds="panel-default">
        <ngb-panel id="panel-default">
          <ng-template ngbPanelTitle>
            <span>{{'Card.Tab.Default' | translate }}</span>
          </ng-template>
          <ng-template *ngIf="contextMap" ngbPanelContent>
              <div class="row">
                <div class="col-lg">
                  <mel-card-field [context]="context('appCode')" 
                                  caption="{{'CreateApp.Field.AppCode.Caption'|translate}}"
                                  hint="{{'CreateApp.Field.AppCode.Hint'|translate}}">
                  </mel-card-field> 
                </div>
                <div class="col-lg">
                  <mel-card-field [context]="context('appName')" 
                                  caption="{{'CreateApp.Field.AppName.Caption'|translate}}"
                                  hint="{{'CreateApp.Field.AppName.Hint'|translate}}">
                  </mel-card-field>
                </div>          
              </div>  
              <div class="row">
                <div class="col-lg">
                  <mel-card-field [context]="context('companyName')" 
                                  caption="{{'CreateApp.Field.Company.Name.Caption'|translate}}"
                                  hint="{{'CreateApp.Field.Company.Name.Hint'|translate}}">
                </mel-card-field>
              </div>          
                <div class="col-lg">
                  <mel-card-field [context]="context('companyDatabaseName')" 
                                  caption="{{'CreateApp.Field.Company.Database.Caption'|translate}}"
                                  hint="{{'CreateApp.Field.Company.Database.Hint'|translate}}">
                  </mel-card-field> 
              </div>          
            </div>    
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </mat-card-content>
  </mat-card>
</div>

