<div class="modal-header" >
  <h4 class="modal-title">{{Title | translate }}</h4>
</div>
<div class="modal-body">
  <mat-checkbox [checked]="useSsl" labelPosition="after"><mat-label>SSL</mat-label></mat-checkbox>
  <div [style.opacity]="urlErrorText.length" >{{dlgErrorText}}</div>
    <mat-form-field style="display: inherit;" [disabled]="config.hasEndpoint && connected">
      <mat-label>{{ LabelEnterUrl | translate }}</mat-label>
     <input matInput type="text" [(ngModel)]="ipPort"  (change)="onUrlChanged()">
      <mat-hint>{{ HintUrl | translate }}</mat-hint>
      <span class="melError" [style.margin-bottom]="'1em'"  [style.opacity]="urlErrorText.length">{{urlErrorText | translate}}</span>
    </mat-form-field>

    <br>

    <mat-form-field style="display: inherit;"  [disabled]="!(config.hasEndpoint && connected)">
      <mat-label>{{ SelectAppLabel | translate }}</mat-label>
      <mat-select [(ngModel)]="selectedApp.key" (ngModelChange)="onSelectionChanged()" >
          <mat-option *ngFor="let option of selectOptions" [value]="option.key">{{option.value}}&nbsp;({{option.key}})</mat-option>
      </mat-select>
      <mat-hint>{{ SelectAppHint | translate }}</mat-hint>
    </mat-form-field>

</div>
<div class="modal-footer">
  <button mat-raised-button color="info" (click)="connect()" [disabled]="!enableConnect">{{transPrefix +'Command.Connect'|translate}}</button>
  <button mat-raised-button color="info" (click)="createApp()" [disabled]="!enableOk">{{transPrefix +'Command.CreateApp'|translate}}</button>
  <button mat-raised-button color="primary" (click)="okClicked()" [disabled]="!enableOk">{{'Command.Ok'|translate}}</button>
</div>






