/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-remaining-space {
    flex: 1 1 auto;
}

.sticky-table-800 {
    height: 800px;
    overflow: auto;
}

.mat-form-field {
  margin-right: 20px;
}
.mat-column-select {
    overflow: initial;
  }
  
/* kopiert */
table.mat-table {
    border-spacing: 0;
    width: 100%; /* ergänzung */
}
  
tr.mat-header-row {
  height: 30px;
}

tr.mat-row, tr.mat-footer-row {
  height: 30px;
}

th.mat-header-cell {
  text-align: left;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 10px; /* 0px is definitiv zu wenig */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: 14px;
}

th.mat-header-cell:first-child, td.mat-cell:first-child, td.mat-footer-cell:first-child {
  padding-left: 24px;
}

th.mat-header-cell:last-child, td.mat-cell:last-child, td.mat-footer-cell:last-child {
  padding-right: 24px;
}
label.mat-checkbox-layout {
  margin-bottom: 0.1rem;
  margin-left: 5px;
}

.melError {
  color : red;
  font-size: smaller;
  opacity: 0;
  transition: opacity 500ms;
  display: inline-block;
/*     height : 1px;*/
}

.melHint {
  color : rgba(98, 98, 255, 0.75);
  font-size: smaller;
  opacity: 0;
  display: inline-block;
}