
<ng-template viewBoolean let-value="value">   
  <mel-list-checkbox 
    [value]="value" 
    [editable]="false"
  ></mel-list-checkbox>
</ng-template>

<ng-template viewEnum 
  let-meta="meta" 
  let-value="value" 
  let-editable="editable" > 
  <mel-enum 
    [sourceMap]="meta.enumValues" 
    [targetMap]="meta.display.enumValues" 
    [value]="value" 
    [disabled]="!meta.editable"
  ></mel-enum>
</ng-template> 

<ng-template viewInput let-value="value">{{value}}</ng-template> 

<ng-template listEnum 
  let-value="value" 
  let-meta="meta"
  let-changedObs="changedObs">
  <mel-list-select 
    [value]="value" 
    [options]="meta"
    [changedObs]=" changedObs" 
  >
  </mel-list-select>
</ng-template> 

<ng-template listBoolean 
  let-value="value" 
  let-changedObs="changedObs"
  >
  <mel-list-checkbox 
    [value]="value"
    [editable]="true"
    [changedObs]="changedObs" 
  >
  </mel-list-checkbox>
</ng-template>

<ng-template listInput 
  let-subtype="subType" 
  let-value="value" 
  let-lookupFor="lookupFor"
  let-assistObs="assistObs"
  >     
  <mel-list-input  
    [subType]="subType" 
    [value]="value" 
    [lookupFor]="lookupFor"
    [assistObs]="assistObs" 
  >
  </mel-list-input>
</ng-template>     

<ng-template cardEnum 
  let-caption="caption" 
  let-editable="editable"
  let-value="value" 
  let-options="meta" 
  let-changedObs="changedObs" 
  >
  <mel-card-select 
    [caption]="caption"  
    [editable]="editable"
    [value]="value" 
    [options]="options"
    [changedObs]="changedObs" 
  ></mel-card-select>
</ng-template> 

<ng-template cardBoolean 
  let-caption="caption" 
  let-editable="editable"  
  let-value="value" 
  let-changedObs="changedObs"> 
  <mel-card-checkbox 
    [caption]="caption"
    [editable]="editable"
    [value]="value"
    [changedObs]="changedObs" 
  ></mel-card-checkbox>
</ng-template>

<ng-template cardInput 
  let-caption="caption" 
  let-subtype="subType" 
  let-editable="editable"
  let-value="value" 
  let-lookupFor="lookupFor"
  let-assistObs="assistObs"
  let-changedObs="changedObs"
  > 
  <mel-card-input 
    [caption]="caption"
    [placeholder]="caption" 
    [subType]="subType" 
    [editable]="editable"
    [value]="value"
    [lookupFor]="lookupFor"
    [assistObs]="assistObs"
    [changedObs]="changedObs" 
  >
  </mel-card-input>
  </ng-template>     

  <!-- App -->

<mat-toolbar role="heading" color="primary">
  <span >{{title}}</span>
  <span class="fill-remaining-space"> </span>
  <app-toolbar></app-toolbar>
</mat-toolbar>
<app-alert></app-alert>
<router-outlet></router-outlet>
